@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: Philosopher;
  src: url(assets/fonts/Philosopher-Regular.ttf) format("truetype");
}

:root {
  --main-radius: 0px;
  --main-padding: 0px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  background: url(assets/images/background.png) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.blue {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 197, 232, 0.14)), to(rgba(0, 149, 214, 0.14)));
  background: linear-gradient(180deg, rgba(38, 197, 232, 0.14) 0%, rgba(0, 149, 214, 0.14) 100%);
}

.container {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 1.3fr 3fr 3fr 1.25fr;
      grid-template-columns: 1.3fr 3fr 3fr 1.25fr;
  -ms-grid-rows: 0.5fr 1.5fr 1.2fr 0.8fr;
      grid-template-rows: 0.5fr 1.5fr 1.2fr 0.8fr;
      grid-template-areas: "nav1 nav2 nav2 nav3" "sidebar content1 content2 content2" "sidebar content1 content2 content2" "sidebar content1 content2 content2";
  text-transform: uppercase;
  margin: 0 20px;
}

@media (min-width: 1200px) {
  .container {
    -ms-grid-columns: 1.3fr 3fr 4fr 1fr;
        grid-template-columns: 1.3fr 3fr 4fr 1fr;
  }
}

@media (min-width: 1440px) {
  .container {
    -ms-grid-columns: 1.2fr 3fr 3fr 1fr;
        grid-template-columns: 1.2fr 3fr 3fr 1fr;
  }
}

@media (min-width: 1920px) {
  .container {
    margin: 0 70px;
  }
}

@media (max-width: 550px) {
  .container {
    margin: 0 50px;
    -ms-grid-columns: 1.3fr 3fr 3fr 1.25fr;
        grid-template-columns: 1.3fr 3fr 3fr 1.25fr;
    -ms-grid-rows: 0.2fr 1.5fr 0.7fr 0.1fr;
        grid-template-rows: 0.2fr 1.5fr 0.7fr 0.1fr;
        grid-template-areas: "nav1 nav1 nav3 nav3" "content1 content1 content1 content1" "content2 content2 content2 content2" "sidebar sidebar sidebar sidebar";
  }
}

#nav1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav1;
}

#nav2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: nav2;
}

#nav3 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: nav3;
}

#sidebar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: sidebar;
}

#content1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: content1;
}

#content2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: content2;
}

.header-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 550px) {
  .header-brand {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.h-logo {
  margin-right: 11.67px;
}

.h-text {
  font-family: Philosopher;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff33;
  border-radius: 10px;
  width: 100%;
  min-height: 86px;
  max-width: 1338px;
  padding: 29px 82.6px 29px 113px;
  margin: auto;
}

@media (max-width: 550px) {
  .menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .menu {
    padding: 10px;
  }
}

@media (min-width: 1440px) {
  .menu {
    padding: 15px 20px 15px 10px;
  }
}

@media (min-width: 1700px) {
  .menu {
    padding: 29px 82.6px 29px 113px;
  }
}

.menu li {
  cursor: pointer;
}

.menu span {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 13.6px;
  color: white;
}

@media (min-width: 1200px) {
  .menu span {
    font-size: 19px;
  }
}

.menu ul {
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-h-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 550px) {
  .header-h-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-h-menu div {
  cursor: pointer;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 550px) {
  .social-icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 5em;
  }
}

.social-icons svg {
  cursor: pointer;
}

.facebook {
  padding-bottom: 30px;
}

.instagram {
  padding-bottom: 34.7px;
}

.twitter {
  padding-bottom: 40.21px;
}

.youtube {
  padding-bottom: 45.23px;
}

.search-bar {
  height: 70px;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: text;
}

@media (max-width: 550px) {
  .search-bar {
    margin-top: 1em;
  }
}

@media (min-width: 1200px) {
  .search-bar {
    margin-top: 60px;
  }
}

@media (min-width: 1440px) {
  .search-bar {
    margin-top: 100px;
  }
}

@media (min-width: 1920px) {
  .search-bar {
    margin-top: 160px;
  }
}

.search-logo {
  padding: 22.5px 0 24.12px 46.5px;
}

.title {
  margin-top: 55px;
}

.Heading {
  font-size: 40px;
}

@media (min-width: 1200px) {
  .Heading {
    font-size: 40px;
  }
}

@media (min-width: 1440px) {
  .Heading {
    font-size: 50px;
  }
}

@media (min-width: 1920px) {
  .Heading {
    font-size: 60px;
  }
}

.subHeading {
  margin-bottom: 45px;
  font-size: 30px !important;
}

.Heading,
.subHeading {
  font-family: "Lemon", cursive;
  font-style: normal;
  font-weight: normal;
  line-height: 75.5px;
  text-transform: capitalize;
  color: #ffffff;
}

@media (max-width: 550px) {
  .program {
    text-align: center;
  }
}

.btn-program {
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 84px;
  cursor: pointer;
}

.about {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 104px;
}

@media (max-width: 550px) {
  .about {
    text-align: center;
    margin-top: 80px;
  }
}

.about h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.about p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 16px;
  margin-bottom: 147px;
  max-width: 508px;
}

@media (max-width: 550px) {
  .about p {
    margin-bottom: 80px;
  }
}

.about strong {
  cursor: pointer;
}

.videos {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 302px;
  max-height: 348px;
  overflow: auto;
}

@media (max-width: 550px) {
  .videos {
    margin-top: 10px;
  }
}

.video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

@media (min-width: 1200px) {
  .video-wrapper {
    margin-right: 25px;
  }
}

@media (min-width: 1440px) {
  .video-wrapper {
    margin-right: 100px;
  }
}

@media (min-width: 1920px) {
  .video-wrapper {
    margin-right: 181px;
  }
}

.video-icon {
  display: inline-block;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 25px 20px 25px 30px;
  height: 100px;
  width: 100px;
  text-align: center;
}

.video-content {
  margin-left: 28px;
  max-width: 317px;
  padding-bottom: 1113px;
}

.video-heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  margin-bottom: 33px;
  margin-top: 35px;
}

.video-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
}

/* width */
.videos::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.videos::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.videos::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */